body {
    margin:0;
    background-color:rgb(19, 24, 27);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* First Navigation Bar */

.first-nav-bar {
    /* border: solid green; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 4, 11, 0.981);
}

.first-nav-bar-image img {
    width: 2vw;
}

.first-nav-bar-segment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.9vw;
    margin-bottom: 0.5vw;
    gap: 0.4vw;
    height: 3vh;
    /* border: solid red; */
}

.first-nav-left {
    gap: 1vw;
}

.type-to-search {
    display: flex;
    border: 1px solid rgb(74, 76, 88);
    border-radius: 0.2vw;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    max-height: 3.5vh; 
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    width: 17vw;  
    color: rgb(74, 76, 88);
}

.type-to-search input {
    background-color: rgb(1, 4, 11);
    border: none;
    margin: 1vw;
    margin-left: -1.4vw;
    color: rgb(74, 76, 88);

}

.first-nav-bar-right-elem {
    /* margin: 0.5vw; */
    width:1.5vw;
    height:1.5vw;
    border: 1px solid rgb(74, 76, 88);
    border-radius: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    text-wrap: nowrap;
    color: rgb(74, 76, 88);
}

.first-nav-bar-right-elem:hover {
    background-color: rgba(255, 255, 255, 0.146);
    border: 1px solid rgb(119, 121, 134);
    color: rgb(119, 121, 134);
}

.first-nav-bar-image img {
    width: 1.6vw;
    border-radius: 100%;
}

.vertical-line {
    margin-right: -2.4vw;
}

.no-border {
    border: none;
}

.create-new {
    width:3vw;
}

.query-anchor {
    padding: 0.3vw;
    display: flex;
    justify-content: center;
}

.query-anchor a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 0.7vw;
}

.query-anchor:hover{
    background-color: rgba(255, 255, 255, 0.146);
    border: 1px solid rgb(119, 121, 134);
    border-radius: 0.2vw;
    border: none;
}


/* Second Navigation Bar */

.second-nav-bar {
    /* border: solid blue; */
    background-color: rgba(1, 4, 11, 0.981);
    display: flex;
    justify-content:left;
    height: 2vw;
    font-size: 0.75vw;
    font-weight: 400;
    padding-left: 0.3vw;
    padding-bottom: 0.3vw;
    border-bottom: 0.5px solid rgb(74, 76, 88);
}

.second-nav-bar-elem {
    /* border: 1px solid white; */
    color: rgba(255, 255, 255, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3vw;
    margin-left: 1vw;
    height: 3vh;
    padding: 0.4vw;
    padding-left: 4px;
    padding-right: 4px;
    
}

.second-nav-bar-elem:hover {
    background-color: rgba(255, 255, 255, 0.146);
    border: 1px solid rgb(119, 121, 134);
    border-radius: 0.2vw;
    border: none;
    cursor: pointer;
}

.repo-number p{
    background-color: rgba(87, 87, 87, 0.635);
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-tab {
    border-bottom: 3px solid salmon;
}

/* Main Container */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1.8vw;
    padding: 0.4vw;
    /* border: solid green; */

}
.main-container {
    display: flex;
    /* border: solid purple; */
    align-items: center;
    justify-content:space-evenly;
    color: whitesmoke;
}

/* Profile Container */

.profile-container {
    /* border: solid white; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: rgb(230,237,243)
}

.profile-avatar {
    display: flex;
    position: relative;
}

.avatar img {
    border-radius: 100%;
    width: 15.2vw;
}

.edit-status {
    position: absolute;
    bottom: 10%;
    right: 3%;
    height: 1.8vw;
    width: 1.8vw;
    background-color: rgb(19, 24, 27);;
    border: 1px solid rgb(119, 121, 134);
    border-radius: 50%;
}

.edit-status:hover {
    box-shadow: -2px 0 10px 2px rgba(0, 0, 0, 0.763);
}

.smiley {
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(119, 121, 134);  
}

/* Name and Nickname */

.name-nickname {
    /* border: 1px solid aliceblue; */
    margin-top: 0.5vw;
}

.name {
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
}

.nickname {
    color:rgb(119, 121, 134);
    font-size: 1.1vw;
    font-weight: 100;
}

/* Edit Profile Button */

.edit-profile-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33,38,45);
    border: 1px solid rgb(74, 76, 88);
    border-radius: 0.2vw;
    color: rgba(203, 203, 203, 0.66);
    padding: 0.3vw;
}

.edit-profile-div:hover{
    background-color: rgba(255, 255, 255, 0.146);
    border: 1px solid rgb(119, 121, 134);
    color: rgb(119, 121, 134);
    cursor: pointer;
}

.edit-profile-button {
    border: none;
    background-color: transparent;
    color: rgb(192, 194, 206);
    font-size: 0.7vw;
    font-weight: 600;
}

/* Profile elements */

.profile-element, .profile-element a, .profile-element b {
    color:rgb(230,237,243);
    font-size: 0.7vw;
    text-decoration: none;
}

.profile-element {
    /* border: solid blue; */
    display: flex;
    justify-content: left;
    align-items: center;
}

.profile-following:not(b) {
    color:rgb(119, 121, 134);
}

.profile-following:hover, .profile-element a:hover, .smiley:hover {
    color: rgb(83, 137, 255);
    cursor: pointer;
}

.in-profile-icon {
    color:rgb(119, 121, 134);
    font-size: 0.7vw;
    margin: 0.2vw;
}

.rocket-icon {
    transform: rotate(45deg);
    font-size: 1.2vw;
}

.profile-last-two-elems {
    margin-top: 0.8vw;
    line-height: 50%;
    font-size:0.8vw;
}


/* Repositories container */

.repositories-container {
    /* border: solid lightgoldenrodyellow; */
    display: flex;
    flex-direction: column;
    width: 46vw;
    height: 100vh;
    margin-left: 1vw;
}

.repositories-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.6vw;
    margin-right: 0.6vw;
}

.repo-customize-pins {
    color: rgb(75, 125, 233);
    font-size: 0.65vw;
}

.repo-customize-pins:hover, .repo-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Repositories Blocks */

.repo-blocks-div {
    /* border: 1px solid rgb(74, 76, 88); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.repo-block {
    border: 1px solid rgb(74, 76, 88);
    border-radius: 0.5vw;
    padding: 0.8vw;
    margin: 0.4vw;
    color: rgb(134, 136, 148);
    display: flex;
    flex-direction: column;
    width: 44%;
    height: 28%;
    gap:0.8vw;
    font-size: 0.6vw;
    position: relative;
}

.repo-float-top {
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* margin-top: 0.3vw;    */
}

.repo-title {
    color: rgb(83, 137, 255);
    font-weight:500;
    font-size: 0.75vw;
}

.repo-public {
    border: 1px solid rgb(74, 76, 88);
    border-radius: 1vw;
    font-weight:600;
    padding-right: 0.3vw;
    padding-left: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repo-middle {
    margin-bottom: 1vw;
}

.repo-float-bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 0.8vw;
}


/* Footer */

.footer {
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.7vw;
    color: rgb(130, 132, 147);
}

.footer-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5vw;
}

.footer-element a{
    text-decoration: none;
    color: rgb(130, 132, 147);
}

.footer img {
    /* border: solid pink; */
    width: 1.5vw;
    margin-right: 0.5vw;
}
